
.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px; 
}

.bildcontainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
  
.productImage {
  height: 300px;
  width: 100%;
  max-width: 300px; 
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
  
  #bild img {
    object-fit: cover;
    z-index: 5;
  }
  
  figcaption {
    display: flex;
    color: black;
    bottom: 5px;
    padding: 5px;
  }
  
  #tshirttext {
    justify-content: space-between;
    gap: 50px;
    font-weight: bold;
  }
  
  #levi {
    font-size: 0.9em;
    padding: 5px;
    padding-top: 2px;
  }
  
  .heartIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: grey;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .heartIcon:hover {
    color: orange;
  }
  
  .productInfo {
    text-align: center;
    width: 100%;
  }
  
  .brand {
    font-size: 0.9em;
    color: grey;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Knapp */
  .addToCartButton {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addToCartButton:hover {
    background-color: darkgray;
  }
  
  @media (min-width: 640px) {
    .bildcontainer {
        grid-template-columns: 1fr 1fr;
      }
    
      .bildcontainer > section {
        grid-template-rows: auto;
      }
    
      .productCard {
        flex-direction: row;
        align-items: flex-start;
        max-width: 600px;
      }

      .productImage {
        height: 500px;
        max-width: 500px; 
      }

      .productCard:hover .productImage {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      }  
    
      .imageContainer {
        flex: 1;
      }
    
      .productInfo {
        flex: 2;
        text-align: left;
        padding-left: 20px;
      }
    
      .cartButton {
        width: auto;
      }
    }
    
    @media (min-width: 1024px) {
        .bildcontainer {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-left: 10px;
          }
    }      