/* ProductDisplay.module.css */


.imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    background-color: whitesmoke;
    gap: 20px;
    padding: 20px;
  }
  
  .productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  
  .productImage {
    object-fit: cover;
    z-index: 5;
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .productTitle {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-weight: bold;
    color: black;
    padding: 5px;
    margin-top: 5px;
  }
  
  .productBrand {
    font-size: 0.9em;
    padding: 5px;
    padding-top: 2px;
    color: black;
  }
  
  .heartIcon {
    position: absolute;
    bottom: 100px;
    right: 10px;
    color: grey;
    cursor: pointer;
    z-index: 10;
    background: none;
    border: none;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  .heartIcon:hover {
    color: orange;
    transform: scale(1.2);
  }
  
  .badge {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 10;
  }

  /* Karusellspecifika stilar */
.carouselItem .productList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.carouselItem .productCard {
  margin: 0;
  padding: 0;
  border: none;
}

.carouselItem .productImage {
  height: 200px;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .carouselItem .productImage {
    height: 250px;
  }
}