#addProduct {
    width: 80px;
    height: 40px;
    font-family: cursive;
    font-size: 1em;
    right: 10px;
    top: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 2);
  }

  .dateContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .calendarIcon {
    font-size: 1.2rem;
    cursor: pointer;
  }
  